[submodule "cpp/third_party/seastar"]
	path = cpp/third_party/seastar
	url = https://github.com/scylladb/seastar
[submodule "cpp/third_party/rocksdb"]
	path = cpp/third_party/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "cpp/third_party/folly"]
	path = cpp/third_party/folly
	url = https://github.com/facebook/folly
[submodule "cpp/third_party/rapidjson"]
	path = cpp/third_party/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "cpp/third_party/simdjson"]
	path = cpp/third_party/simdjson
	url = https://github.com/simdjson/simdjson
